.expense__filter-container {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-radius: 1rem;
  align-items: center;
  font-size: 1.1rem;
}

.select__container {
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
}

@media (max-width: 600px) {
  .select__container {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
  }

  .expense__filter-container {
    font-size: 1rem;
  }
}
